{% extends 'layout/base.html' %}
{% load mathfilters %}

{% block content %}
<!--<link rel="stylesheet" href="/static/css/videocontrol.css">-->
<!--<script src="/static/css/videocontrol.js"></script>-->
<h2 style="text-align:center;"> {{ date }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ hour }}:{{ minute }}:{{ second }}</h2>
<br>
<div style="text-align:center;">
<video id="testvideo" controls width="1300px" style="padding-left:50px; ">
  <source src={{videopath}} type="video/mp4" >
</video><br>
</div><br><br><br>

  <h2>Data List</h2>
      <div class="table-responsive" style="text-align:left;">
        <table class="table table-striped table-sm" id="detail-table">
          <thead>
            <tr>
              <th>Time</th>
              <th>Object</th>
              <th>Color</th>
              <th>Direction</th>
              <th>Location</th>
              <th>Weather</th>
              <th>Numberplate</th>
            </tr>
          </thead>
          <tbody>
            {% for info in infos %}
            {% if info.match == 1%}
            <tr onclick="setCurTime({{info.frame}})" style="color:#ff730d;">
            {% else %}
            <tr onclick="setCurTime({{info.frame}})">
            {%endif%}

              {% with offset=info.frame|mul:0.116 %}
              <td>{{ total_second|add:offset|intdiv:3600 }}시 {{ total_second|add:offset|mod:3600|intdiv:60 }}분 {{ total_second|add:offset|mod:3600|mod:60 }}초 </td>
              {% endwith %}

              <td>{{ info.object }}</td>

              {% if info.color == "None" %}
                <td>-</td>
              {% else %}
                <td>{{ info.color }}</td>
              {% endif %}

              <td>{{ info.direction }}</td>

              <td>{{info.location}}</td>

              <td>{{ info.weather }}</td>

              {% if info.numberplate == NULL %}
                <td>-</td>
              {% else %}
                <td>{{ info.numberplate }}</td>
              {% endif %}

            {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>

<script>

function setCurTime(frame) {
      var x = document.getElementById("testvideo");
      x.currentTime = frame/9.3;
      console.log(frame);
}

</script>

{% endblock %}


<!--<div class="player">-->
  <!--<video class="player__video viewer" src={{videopath}}></video>-->
  <!--<div class="player__controls">-->
    <!--<div class="progress">-->
      <!--<div class="progress__filled"></div>-->
    <!--</div>-->
    <!--<button class="player__button toggle" title="Toggle Play">►</button>-->
    <!--<input type="range" name="volume" class="player__slider" min="0" max="1" step="0.05" value="1">-->
    <!--<input type="range" name="playbackRate" class="player__slider" min="0.5" max="2" step="0.1" value="1">-->
    <!--<button data-skip="-10" class="player__button">« 10s</button>-->
    <!--<button data-skip="25" class="player__button">25s »</button>-->
  <!--</div>-->
<!--</div>-->

