{% extends 'layout/base.html' %}

{% block content %}
  <section class="jumbotron text-center" style="background-color:#ffffff;">
    <div class="container">
      <h1 class="jumbotron-heading" style="font-family: 'Quicksand', sans-serif;">Your Blackbox</h1>
      <p class="lead text-muted" style="font-family: 'Nanum Gothic', sans-serif;"> 지금 당신의 블랙박스 영상을 확인하세요.</p>
    </div>
  </section>
  <div style="padding-left:480px">
    <div class="form-group" style="margin-right:20px; float:left;">
        <div class=" date" id="date_block">
            <div class="input-group input-append date theme-square" id="datePicker" style="width:150px; border-radius:11px;">
                <input value="날짜" type="text" class="form-control theme-square" name="date"  id="test" style="border:none; font-size:12pt;"/>
                <span class="input-group-addon add-on" style="border:none; background-color:#ffffff;"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>
    <div style="float:left;">
        <select class="theme-square" id="object" text="car" style="width:150px; height:35px; border-radius: 4px; margin-right:20px;" onchange="getobject(this)">
          <option value="default">대상</option>
          <option value="car">자동차</option>
          <option value="person">사람</option>
          <option value="bicycle">자전거</option>
          <option value="motorcycle">오토바이</option>
          <option value="bus">버스</option>
          <option value="dog">개</option>
          <option value="cat">고양이</option>
        </select>
     <select class="theme-square" id="direction" style="width:150px; height:35px; border-radius: 4px; margin-right:20px;" >
        <option value="default">방향</option>
        <option value="left">left</option>
        <option value="front">front</option>
        <option value="right">right</option>
      </select>
      <select class="theme-square" id="color" disabled style="width:150px; height:35px; border-radius: 4px; margin-right:20px; color:#ccc;">
        <option value="default">자동차 색깔</option>
        <option value="black">black</option>
        <option value="greenblue">green/blue</option>
        <option value="browngold">brown/gold</option>
        <option value="purplered">purple/red</option>
        <option value="silverwhite">silver/white</option>
      </select>
      <select class="theme-square" id="weather" style="width:150px; height:35px; border-radius: 4px; margin-right:20px;">
        <option value="default">날씨</option>
        <option value="Clear">맑음</option>
        <option value="Clouds">흐림</option>
        <option value="Rain">비</option>
        <option value="Snow">눈</option>
        <option value="Thunderstrom">천둥</option>
      </select>
    </div>
    <input type="image" src="/static/images/map_icon2.png" style="width:35px; margin-right:20px;" id="mapicon">
    <!-- The Modal -->
    <div id="myModal" class="map_modal">
      <!-- Modal content -->
      <div class="map_modal-content">
        <span class="close">&times;</span>
        <div id="map" style="width:100%;height:500px;"></div><br>
        <div style="text-align:right;"> <button type="button" class="btn btn-primary" id="mapbutton" > OK </button></div>
      </div>
    </div>
    <!-- modal end -->
    <span class="glyphicon glyphicon-search" id="search" style="font-size:33px;" onclick="search()"></span><br>
    <div><input type="hidden" id="latitude" value="default"></input><input type="hidden" id="longitude" value="default"></input></div>
  </div>
<br>
  <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          {% if tag == 0 %}
            {% for video in videos reversed%}
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="/static/thumbnails/{{ video.id }}.jpg" alt="Card image cap" onclick="location.href='/detail/{{ video.id }}/default/default/default/default/default/default/default/'">
                  <!--<video controls >-->
                    <!--<source src="/static/videos/output_test.mp4" type="video/mp4" >-->
                  <!--</video>-->
                  <div class="card-body">
                    <p class="card-text" style="font-family: 'Noto Serif KR', serif; font_size:15pt; text-align:center;">{{ video.path | slice:"41:-11" }}&nbsp;&nbsp; {{ video.path | slice:"48:50" }}:{{ video.path | slice:"50:52" }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
          <!--<form action="" method="post">-->
            <!--{% csrf_token %}-->
            <!--<input type="hidden" name="infos" value="{{ infos }}">-->
          {% if tag == 1 %}
            {% for id, path in ids reversed%}
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <!--<img class="card-img-top" src="/static/thumbnails/{{ id }}.jpg" alt="Card image cap" onclick="click_video({{id}})" />-->
                  <img class="card-img-top" src="/static/thumbnails/{{ id }}.jpg" alt="Card image cap" onclick="location.href='/detail/{{ id }}/{{ date }}/{{object}}/{{color}}/{{direction}}/{{weather}}/{{lati}}/{{longi}}/'">
                  <div class="card-body">
                    <p class="card-text" style="font-family: 'Noto Serif KR', serif; font_size:15pt; text-align:center;">{{ path.path | slice:"41:-11" }}&nbsp;&nbsp; {{ path.path | slice:"48:50" }}:{{ path.path | slice:"50:52" }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
            <!--<input type="submit" class="submit_btn">-->
          <!--</form>-->
        </div>
      </div>
  </div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7ed8fa5da5fd034f8dd5dae36adba244"></script>
<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"  type="text/javascript" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->


<script>
       if("{{tag}}" == "1"){
          $("#object").val("{{object}}").prop("selected", true);
          $("#direction").val("{{direction}}").prop("selected", true);
          $("#color").val("{{color}}").prop("selected", true);
          $("#weather").val("{{weather}}").prop("selected", true);
          $("#test").val("{{date}}");
          if("{{date}}"=="date"){
            $("#test").val("날짜");
          }

          if("{{object}}"=='car'){
            $("#color").removeAttr('disabled');
            $("#color").css('background','#ffffff');
            $("#color").css('color','#000000');
        }else{
            $("#color").val('default');
            $("#color").attr('disabled', 'disabled');
            $("#color").css('background','#ffffff');
            $("#color").css('color','#ccc');
        }
       }

        //map모달부분
        var modal = document.getElementById('myModal');
        var date = document.getElementById('date_block');
         var btn = document.getElementById("mapicon");
         var ok = document.getElementById("mapbutton");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
            date.style.display="none";
            map.relayout();
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
            date.style.display="block";

        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                date.style.display="block";

            }
        }

        ok.onclick = function() {
            modal.style.display = "none";
            date.style.display="block";

        }


        //map부분
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new daum.maps.LatLng(37.545948, 126.964649), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 지도를 클릭한 위치에 표출할 마커입니다
        var marker = new daum.maps.Marker({
            // 지도 중심좌표에 마커를 생성합니다
            position: map.getCenter()
        });
        // 지도에 마커를 표시합니다
        marker.setMap(map);

        // 지도에 클릭 이벤트를 등록합니다
        // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
        daum.maps.event.addListener(map, 'click', function(mouseEvent) {

            // 클릭한 위도, 경도 정보를 가져옵니다
            var latlng = mouseEvent.latLng;

            // 마커 위치를 클릭한 위치로 옮깁니다
            marker.setPosition(latlng);
            var lati =  latlng.getLat();
            var longi = latlng.getLng();

            var message = '클릭한 위치의 위도는 ' + lati + ' 이고, ';
            message += '경도는 ' + longi + ' 입니다';
            console.log(message);

            var label_lat = document.getElementById('latitude');
            var label_long = document.getElementById('longitude');
            label_lat.value = lati;
            label_long.value = longi;

        });

    $('#datePicker')
        .datepicker({
            format: 'yymmdd'
            <!--container: '#myModal',-->
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#eventForm').formValidation('revalidateField', 'date');
        });

    $('#eventForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'The name is required'
                    }
                }
            },
            date: {
                validators: {
                    notEmpty: {
                        message: 'The date is required'
                    },
                    date: {
                        format: 'MM/DD/YYYY',
                        message: 'The date is not a valid'
                    }
                }
            }
        }
    });

    function getobject(selectObject) {
        var value = selectObject.value;
        if(value=='car'){
            $("#color").removeAttr('disabled');
            $("#color").css('background','#ffffff');
            $("#color").css('color','#000000');
        }else{
            $("#color").val('default');
            $("#color").attr('disabled', 'disabled');
            $("#color").css('background','#ffffff');
            $("#color").css('color','#ccc');
        }
    }

    function search(){
      var date = $("#test").val();
      if(date=="날짜"){
        date = "date";
       }
      var object = $("#object").val();
      var color = $("#color").val();
      var direction = $("#direction").val();
      var weather = $("#weather").val();
      var lati = $("#latitude").val();
      var longi = $("#longitude").val();

     window.location.href='/search/' + date + '/' + object + '/' + color + '/' + direction +'/' + weather +'/' + lati +'/' + longi +'/';
    }
    function click_video(id){
    console.log(id);
         var arr = new Array();
         var stringurl = "/detail/"+id+" /{{ date }}/{{object}}/{{color}}/{{direction}}/{{weather}}/{{lati}}/{{longi}}/"


         {% for info in infos %}
            if(id=={{info.videoid}}){arr.push({{info.id}})}
          {% endfor %}

            $.ajax({
                method: 'POST',
                <!--traditional : true,-->
                url: "/detail/"+id+" /{{ date }}/{{object}}/{{color}}/{{direction}}/{{weather}}/{{lati}}/{{longi}}",
                data: {'data': arr},
               success:function(){
                     console.log("it\t work");
                },
                error: function () {
                     console.log("it didnt work");
                }
            });
            $.ajax({


      url:stringurl,

      method:"get",
      data:{no:arr},

      success:function(data){

      console.log("dd");

      }



});
        }

</script>
{% endblock %}
